<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a href="#" class="navbar-brand">
    <a [routerLink]="['home']"><img src="https://yelmocines.es/content/img/img-logo-yelmo.png" height="45" alt="CoolBrand"></a>
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">

    <div class="navbar-nav ml-auto">
      <button (click)="onLogout()" class="btn btn-outline-dark ">Salir</button>
    </div>
  </div>
</nav>
