.cinesur-header {
  background-color: #000;
  height: auto;
  padding-top: 10px;
}

.paddingR0 {
  padding-right: 0!important;
}
.paddingL0 {
  padding-left: 0!important;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

div {
  display: block;
}
body {
  font: 15px/20px 'Gibson',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #000;
}

