<!-- Site footer -->
<footer class="site-footer pt-3" >
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Politica de Privacidad</h6>
        <p class="text-justify">Los criterios y reglas que sigue YELMO CINES respecto a la utilización de los datos, que libre y
          voluntariamente usted facilite a través de nuestra página web, son los que se exponen en la Política de
          Privacidad.</p>
      </div>

      <div class="col-xs-6 col-md-3" sytle="">
        <h6>Cines Cercanos</h6>
        <ul class="footer-links">
          <li >Cine-Los Arcos</li>
          <li>Cine-Sevilla Este</li>
          <li>Cine-La Algaba</li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
</footer>
