.img{
  width:80%;
}
.caja{
  width:40%;
}
.sombra-borde {
  -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,.5);
  -moz-box-shadow: 1px 2px 4px rgba(0,0,0,.5);
  box-shadow: 1px 2px 4px rgba(0,0,0,.5);
}
.fondo {
  background-color: aliceblue;
}
body{
  background-color: aliceblue;
}
.colorCaja{
  background-color: white;
}
