<div class="elio">
  <div class="sombra-borde container colorCaja border-0" style="background-color: #e6e6e6;" *ngFor="let p of peliculas">
    <div class="row mt-xl-3">
      <div class="col col-md-auto">
        <div class=" mx-auto caja ">
          <a [routerLink]="['/pelicula',p.id]"><img src="{{p.foto}}" class="img m-2"></a>
        </div>
      </div>
      <div class="col" style="margin-left: -5%">
        <h3 class="mt-4 ml-4">{{p.nombre}}</h3>
        <div class="">
          <p class="ml-4"><span><span>{{p.director}}</span></span> | <span>{{p.duracion}} minutos</span> | <span>{{p.genero}}</span> |
            <span>{{p.anyo}}</span></p>
        </div>
        <div class="row" >
          <div class="col-1 ml-4 mt-4" *ngFor="let h of p.horario">
            <button class="btn bg-warning text-dark" [routerLink]="['/form',p.id,h]">{{h}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

